*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: black;
    color: white;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
header nav a.active{
    color: red;
}
.sticky{
    background-color:  rgb(29, 29, 29);
}

.logochange{
    color:red;
}
.logo{
    font-size: 2.5rem ;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.navbar{
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    margin-left: 3.5rem;
    
}

.navbar a{
    margin-left: 3.5rem;
}
 a{
    text-decoration: none;
    color: white;
   
}
.navbar a:hover{
    color:red ;
}
#menu-icon{
    color: white;
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(home.png);
}
.home-content{
    max-width: 60rem;

}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px red;
    background-image: linear-gradient(red,rgb(255, 54, 54));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
}
.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid red;
    z-index: -1;
    animation: homeCurText 6s linear infinite;
    animation-delay: 2s ;
}

.home-content p{
    font-size: 1.6rem;
    margin:2rem 0 4rem ;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height:5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height:100%;
    background: rgb(255, 255, 255);
    border: .2rem solid rgb(255, 254, 254);
    border-radius: 0.8rem;
    font-weight:700 ;
    letter-spacing: 0.2rem;
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    overflow: hidden;
    z-index: 1;
}
.btn-box .btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:red;
    z-index: -1;
    transition: 1s;
}
.btn-box .btn:hover{
    color: black;
    border-color: red;
}
.btn-box .btn:hover::before{
    width: 100%;
}
.socials{
    position: absolute;
    bottom: 4rem;
    width: 250px;
    display: flex;
    justify-content: space-between;
    
}

.socials a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid rgb(239, 1, 1);
    overflow: hidden;
    margin-left: 0.9rem;
    font-size: 25px;
    color: rgb(0, 0, 0);
    z-index: 1;
    border-radius: 50%;
}
.socials a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:red;
    z-index: -1;
    transition: 1s;
    
}
.socials a:hover{
    color: white;
}
.socials a:hover::before{
    width: 0;
    
}
.home-img{
    position: absolute;
    top: 0;
    right: 0;   
    width: 45%;
    height: 100%;
    background: black;
    z-index: 1; 
    opacity: 50%;
    transition:1s;
}
.home-img:hover{
    opacity: 0;
    
    
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    background: rgb(32, 32, 32);
    padding-bottom: 6rem;
}
.heading{
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;

}
.heading span{
    color: red;
    font-size: 4rem;
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.about-img:hover{
    background: white;
    
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border-top: .2rem solid rgb(251, 251, 251);
    border-bottom: .2rem solid rgb(251, 251, 251);
    border-left: .2rem solid rgb(255, 3, 3);
    border-right: .2rem solid rgb(255, 4, 4);
    z-index: 1;

}

.about-content{
    text-align: center;
    align-items: center;
}
.about-content h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;

}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.education{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
/*
.education-row .education-column{
   
   
    flex :1 1 40rem;

}*/
 .education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;

 }

 .education-column .education-box{
    border-left: .2rem solid rgb(255, 0, 0);
    

 }
 .education-box .education-content{
    position: relative;
    padding-left: 2rem;
 }
 .education-content .content{
    position: relative;
    padding:1.5rem;
    border: .2rem solid rgb(252, 0, 0);
    border-radius: .6rem;
    margin-bottom: 2rem;
 }
 .education-content .content .year{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding-bottom: .5rem;
 }
 .education-content .content .year{
    padding-right: .5rem;
 }
 .education-content .content h3{
    font-size: 2rem;
   padding-top: 0.5rem;
 }
 
.education-box .education-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background:red;
    border-radius: 50%;
}
.education-content .content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:red;
    z-index: -1;
    transition: 0.5s;
}
.education-content .content:hover::before{
    width: 100%;

}

.skills{
    display: flex;
    
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.skills-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    border: .5rem solid red;
    border-radius: 2rem;
    justify-content: space-evenly;
   
}
.skills-content{
    margin: 2rem;
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    display: flex;
    
    
}
.skills h2{
    margin-bottom: 5rem;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;

}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
    

}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(255, 0, 0);
    background: transparent;
    border-radius: .6rem;
    border:.2rem solid rgb(255, 255, 255);
}
.textarea-field{
    margin-bottom: 3rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    color: white;
    background-color: rgb(37, 37, 37);

}
.footer-text p{
    font-size: 1.6rem;

}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 3rem;
    color: red;

}
.projects{
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.project-box{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    border: .2rem solid red;
    border-radius: 2rem;
    justify-content: space-evenly;
   
}
.project-content{
    margin: 2rem;
    margin-bottom: 5rem;
    position: relative;
    width: 35rem;
    height: 20rem;
    border-radius: 2rem;
    text-align: center;
}
.proName{
    font-size: 1.5rem;
    margin: 1rem;
}
.proImage{
    width: 100%;
    height: 100%;
    
}
.project-sec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.more{
    margin-top: 3rem;
}
/*Breakpoints */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
    
}

@media (max-width: 992px) {
    .header{
        padding:2rem 4%;
    }
    .home-img{
        width: 10%;
        opacity: 100%;
    }

}
@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top:100%;
        left:-1000px;
        width: 100%;
        padding: 1rem 4%;
        background-color: rgb(37, 37, 37);
        transition: 0.5s;
    }
    .navbar a{
        display: block ;
        margin: 3rem;
    }
    .navbar.active{
        left:0;
    }
    .education-row{
        margin-top: 5rem;
       justify-content: center;
    }
}
@media (max-width: 520px) {
    html{
        font-size: 50%;
    }
    .skills-content{
        width: 15rem;
        height: 15rem;
    }
}
@media (max-width: 462px) {
    html{
        font-size: 60%;
    }
    .home-img{
        display: none;
    }
    .skills-content{
        width: 10rem;
        height: 10rem;
    }
    .skills-box{
        gap: 5rem;
    }
}
@media (max-width: 380px) {
    html{
        font-size: 50%;
    }
    .home-img{
        display: none;
    }
    .skills-content{
        width: 10rem;
        height: 10rem;
    }
    .skills-box{
        gap: 5rem;
    }
    
}
@media (max-width: 290px) {
    html{
        font-size: 45%;
    }
    .home-img{
        display: none;
    }
    .skills-content{
        width: 10rem;
        height: 10rem;
    }
    .skills-box{
        gap: 2rem;
    }
    
}

/* animations */
@keyframes homeBgText {
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }
    
}
@keyframes homeCurText{
    0%,10%,100%{
        width: 0;
    }
    65%,85%{
        width: 100%;
        opacity: 1;
    }
    75%,81%{
        opacity:0;
    }
    
}