*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: black;
    color: white;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 2.5rem ;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.navbar{
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    margin-left: 3.5rem;
    
}

.navbar a{
    margin-left: 3.5rem;
}
 a{
    text-decoration: none;
    color: white;
   
}
.navbar a:hover{
    color:red ;
}
#menu-icon{
    color: white;
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(/home.png);
}
.home-content{
    max-width: 60rem;

}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px red;
}
.home-content p{
    font-size: 1.6rem;
    margin:2rem 0 4rem ;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height:5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height:100%;
    background: rgb(255, 255, 255);
    border: .2rem solid rgb(255, 254, 254);
    border-radius: 0.8rem;
    font-weight:700 ;
    letter-spacing: 0.2rem;
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    overflow: hidden;
    z-index: 1;
}
.btn-box .btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:red;
    z-index: -1;
    transition: 1s;
}
.btn-box .btn:hover{
    color: black;
    border-color: red;
}
.btn-box .btn:hover::before{
    width: 100%;
}
.socials{
    position: absolute;
    bottom: 4rem;
    width: 250px;
    display: flex;
    justify-content: space-between;
    
}

.socials a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid rgb(239, 1, 1);
    overflow: hidden;
    margin-left: 0.9rem;
    font-size: 25px;
    color: rgb(0, 0, 0);
    z-index: 1;
    border-radius: 50%;
}
.socials a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:red;
    z-index: -1;
    transition: 1s;
    
}
.socials a:hover{
    color: white;
}
.socials a:hover::before{
    width: 0;
    
}
.home-img{
    position: absolute;
    top: 0;
    right: 0;   
    width: 45%;
    height: 100%;
    background: black;
    z-index: 1; 
    opacity: 50%;
    transition:1s;
}
.home-img:hover{
    opacity: 0;
    
    
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    background: black;
    padding-bottom: 6rem;
}
.heading{
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;

}
.heading span{
    color: red;
    font-size: 4rem;
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.about-img:hover{
    background: white;
    
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border-top: .2rem solid rgb(251, 251, 251);
    border-bottom: .2rem solid rgb(251, 251, 251);
    border-left: .2rem solid rgb(255, 3, 3);
    border-right: .2rem solid rgb(255, 4, 4);
    z-index: 1;

}

.about-content{
    text-align: center;
    align-items: center;
}
.about-content h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;

}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
